/*#################__STYLE__#################*/

article#aboutme {
    background-color: var(--bg1);

    div.article-container {
        p.aboutme-text {
            padding: 0 400px 50px 400px;
            color: var(--text1);
            text-align: justify;
        }
    }
}

/*#################__RESPONSIVE__#################*/

@media only screen and (max-width: 1600px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                padding: 0 350px 50px 350px;
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                padding: 0 280px 50px 280px;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                padding: 0 200px 50px 200px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                padding: 0 150px 50px 150px;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                padding: 0 100px 50px 100px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                padding: 0 50px 50px 50px;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                padding: 0 30px 50px 30px;
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                text-align: left;
            }
        }
    }
}

@media only screen and (max-width: 200px) {
    article#aboutme {
        div.article-container {
            p.aboutme-text {
                padding: 0 10px 50px 10px;
            }
        }
    }
}
